# Archivos SHP descomprimidos (solo se versionan los .zip)
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.xml

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Sistema
Thumbs.db
.DS_Store
